.square {
  float: left;
  position: relative;
  width: 3rem;
  height: 3rem;
  -webkit-animation: scale 2.88s linear infinite;
          animation: scale 2.88s linear infinite;
  background-color: currentColor;
}

.square-group {
  float: left;
}

.square-group:nth-of-type(odd) .square:nth-of-type(odd),
.square-group:nth-of-type(even) .square:nth-of-type(even) {
  color: #e0dfd1;
}

.square-group:nth-of-type(1) .square:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.square-group:nth-of-type(1) .square:nth-of-type(2), .square-group:nth-of-type(2) .square:nth-of-type(1) {
  -webkit-animation-delay: 1.488s;
          animation-delay: 1.488s;
}

.square-group:nth-of-type(1) .square:nth-of-type(3), .square-group:nth-of-type(2) .square:nth-of-type(2), .square-group:nth-of-type(3) .square:nth-of-type(1) {
  -webkit-animation-delay: 0.096s;
          animation-delay: 0.096s;
}

.square-group:nth-of-type(1) .square:nth-of-type(4), .square-group:nth-of-type(2) .square:nth-of-type(3), .square-group:nth-of-type(3) .square:nth-of-type(2), .square-group:nth-of-type(4) .square:nth-of-type(1) {
  -webkit-animation-delay: 1.584s;
          animation-delay: 1.584s;
}

.square-group:nth-of-type(1) .square:nth-of-type(5), .square-group:nth-of-type(2) .square:nth-of-type(4), .square-group:nth-of-type(3) .square:nth-of-type(3), .square-group:nth-of-type(4) .square:nth-of-type(2), .square-group:nth-of-type(5) .square:nth-of-type(1) {
  -webkit-animation-delay: 0.192s;
          animation-delay: 0.192s;
}

.square-group:nth-of-type(1) .square:nth-of-type(6), .square-group:nth-of-type(2) .square:nth-of-type(5), .square-group:nth-of-type(3) .square:nth-of-type(4), .square-group:nth-of-type(4) .square:nth-of-type(3), .square-group:nth-of-type(5) .square:nth-of-type(2), .square-group:nth-of-type(6) .square:nth-of-type(1) {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

.square-group:nth-of-type(1) .square:nth-of-type(7), .square-group:nth-of-type(2) .square:nth-of-type(6), .square-group:nth-of-type(3) .square:nth-of-type(5), .square-group:nth-of-type(4) .square:nth-of-type(4), .square-group:nth-of-type(5) .square:nth-of-type(3), .square-group:nth-of-type(6) .square:nth-of-type(2), .square-group:nth-of-type(7) .square:nth-of-type(1) {
  -webkit-animation-delay: 0.288s;
          animation-delay: 0.288s;
}

.square-group:nth-of-type(1) .square:nth-of-type(8), .square-group:nth-of-type(2) .square:nth-of-type(7), .square-group:nth-of-type(3) .square:nth-of-type(6), .square-group:nth-of-type(4) .square:nth-of-type(5), .square-group:nth-of-type(5) .square:nth-of-type(4), .square-group:nth-of-type(6) .square:nth-of-type(3), .square-group:nth-of-type(7) .square:nth-of-type(2), .square-group:nth-of-type(8) .square:nth-of-type(1) {
  -webkit-animation-delay: 1.776s;
          animation-delay: 1.776s;
}

.square-group:nth-of-type(2) .square:nth-of-type(8), .square-group:nth-of-type(3) .square:nth-of-type(7), .square-group:nth-of-type(4) .square:nth-of-type(6), .square-group:nth-of-type(5) .square:nth-of-type(5), .square-group:nth-of-type(6) .square:nth-of-type(4), .square-group:nth-of-type(7) .square:nth-of-type(3), .square-group:nth-of-type(8) .square:nth-of-type(2) {
  -webkit-animation-delay: 0.384s;
          animation-delay: 0.384s;
}

.square-group:nth-of-type(3) .square:nth-of-type(8), .square-group:nth-of-type(4) .square:nth-of-type(7), .square-group:nth-of-type(5) .square:nth-of-type(6), .square-group:nth-of-type(6) .square:nth-of-type(5), .square-group:nth-of-type(7) .square:nth-of-type(4), .square-group:nth-of-type(8) .square:nth-of-type(3) {
  -webkit-animation-delay: 1.872s;
          animation-delay: 1.872s;
}

.square-group:nth-of-type(4) .square:nth-of-type(8), .square-group:nth-of-type(5) .square:nth-of-type(7), .square-group:nth-of-type(6) .square:nth-of-type(6), .square-group:nth-of-type(7) .square:nth-of-type(5), .square-group:nth-of-type(8) .square:nth-of-type(4) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.square-group:nth-of-type(5) .square:nth-of-type(8), .square-group:nth-of-type(6) .square:nth-of-type(7), .square-group:nth-of-type(7) .square:nth-of-type(6), .square-group:nth-of-type(8) .square:nth-of-type(5) {
  -webkit-animation-delay: 1.968s;
          animation-delay: 1.968s;
}

.square-group:nth-of-type(6) .square:nth-of-type(8), .square-group:nth-of-type(7) .square:nth-of-type(7), .square-group:nth-of-type(8) .square:nth-of-type(6) {
  -webkit-animation-delay: 0.576s;
          animation-delay: 0.576s;
}

.square-group:nth-of-type(7) .square:nth-of-type(8), .square-group:nth-of-type(8) .square:nth-of-type(7) {
  -webkit-animation-delay: 2.064s;
          animation-delay: 2.064s;
}

.square-group:nth-of-type(8) .square:nth-of-type(8) {
  -webkit-animation-delay: 0.672s;
          animation-delay: 0.672s;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12.5% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12.5% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.box {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: auto;
  background-color: #252525;
}

.box:hover * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.box:active * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.box--inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-animation: layer 2.88s linear infinite;
          animation: layer 2.88s linear infinite;
  background-color: #e0dfd1;
  color: #252525;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

@-webkit-keyframes layer {
  0%, 50% {
    background-color: #252525;
  }
  50.1%, 100% {
    background-color: #e0dfd1;
  }
}

@keyframes layer {
  0%, 50% {
    background-color: #252525;
  }
  50.1%, 100% {
    background-color: #e0dfd1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  text-align: center;
  background-color: #2b2e2d;
  color: #e4e3c8;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: 0.5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;
}

.intro small {
  display: block;
  opacity: .5;
  font-style: italic;
  text-transform: none;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;
}

.info a {
  color: inherit;
}
