.square {
  float: left;
  position: relative;
  width: 3rem;
  height: 3rem;
  -webkit-animation: rotate 3s ease-in-out infinite, opacity 3s ease-in-out infinite;
          animation: rotate 3s ease-in-out infinite, opacity 3s ease-in-out infinite;
  background-color: currentColor;
}

.square-group {
  float: left;
}

.square-group:nth-of-type(odd) .square:nth-of-type(odd),
.square-group:nth-of-type(even) .square:nth-of-type(even) {
  color: #e0dfd1;
}

.square-group:nth-of-type(1) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -1.40625s, -1.5s;
          animation-delay: -1.40625s, -1.5s;
}

.square-group:nth-of-type(1) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -2.90625s, -3s;
          animation-delay: -2.90625s, -3s;
}

.square-group:nth-of-type(2) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -2.8125s, -3s;
          animation-delay: -2.8125s, -3s;
}

.square-group:nth-of-type(2) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -1.3125s, -1.5s;
          animation-delay: -1.3125s, -1.5s;
}

.square-group:nth-of-type(3) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -1.21875s, -1.5s;
          animation-delay: -1.21875s, -1.5s;
}

.square-group:nth-of-type(3) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -2.71875s, -3s;
          animation-delay: -2.71875s, -3s;
}

.square-group:nth-of-type(4) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -2.625s, -3s;
          animation-delay: -2.625s, -3s;
}

.square-group:nth-of-type(4) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -1.125s, -1.5s;
          animation-delay: -1.125s, -1.5s;
}

.square-group:nth-of-type(5) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -1.03125s, -1.5s;
          animation-delay: -1.03125s, -1.5s;
}

.square-group:nth-of-type(5) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -2.53125s, -3s;
          animation-delay: -2.53125s, -3s;
}

.square-group:nth-of-type(6) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -2.4375s, -3s;
          animation-delay: -2.4375s, -3s;
}

.square-group:nth-of-type(6) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -0.9375s, -1.5s;
          animation-delay: -0.9375s, -1.5s;
}

.square-group:nth-of-type(7) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -0.84375s, -1.5s;
          animation-delay: -0.84375s, -1.5s;
}

.square-group:nth-of-type(7) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -2.34375s, -3s;
          animation-delay: -2.34375s, -3s;
}

.square-group:nth-of-type(8) .square:nth-of-type(2n+0) {
  -webkit-animation-delay: -2.25s, -3s;
          animation-delay: -2.25s, -3s;
}

.square-group:nth-of-type(8) .square:nth-of-type(2n+1) {
  -webkit-animation-delay: -0.75s, -1.5s;
          animation-delay: -0.75s, -1.5s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25%, 100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes opacity {
  0%, 50% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0%, 50% {
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}

.box {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: auto;
  background-color: #252525;
}

.box:hover * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.box:active * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.box--inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-animation: layer 3s linear infinite;
          animation: layer 3s linear infinite;
  background-color: #e0dfd1;
  color: #252525;
}

@-webkit-keyframes layer {
  0%, 50% {
    background-color: #252525;
  }
  50.0001%, 100% {
    background-color: #e0dfd1;
  }
}

@keyframes layer {
  0%, 50% {
    background-color: #252525;
  }
  50.0001%, 100% {
    background-color: #e0dfd1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  text-align: center;
  background-color: #2b2e2d;
  color: #e4e3c8;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: 0.5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;
}

.intro small {
  display: block;
  opacity: .5;
  font-style: italic;
  text-transform: none;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;
}

.info a {
  color: inherit;
}
