<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ${title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")

  -
    var inspired = {
      name: 'hi',
      url: 'uuu'
    };

  body

    h1.intro ${title}

    .box
      - each $ in Array(12)
        .dot

    blockquote.info
      | inspired from #{inspired.name} — 
      a(href=inspired.url) post

    script(src="script.js")
