<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title dailyUI - 01
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-10.css")

  body
    h1.intro dailyUI - 01
      small switch input

    


    //- blockquote.info
    //-   | inspired from <a href="http://gif.flrn.nl/post/109913090997">http://gif.flrn.nl/post/109913090997</a>
