<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Rocket in Space
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body


    .space

      .star
      .earth:.earth-inner
        h1.slogan:.slogan-inner 🚀 Rocket in Space 🚀
          br
          | here we come!
      .rocket-box:.rocket
        - var popCount = 20;
        - while (popCount--)
          .rocket-pop


    blockquote.info
      | inspired from #[a(href="http://modernweb.tw/") Modern Web 2016]
