<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Rocket in Space
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body


    .space
      h1.intro Rocket in Space
      .star
      .rocket
        - var popCount = 20;
        - while (popCount--)
          .rocket-pop

      .slogan here we come!

    blockquote.info
      | inspired from #[a(href="http://modernweb.tw/") Modern Web 2016]
