$c-white: #fff;
$fab-size: 10rem;
$fab-cross-size: percentage(1 / 9);
$cross-scale-ratio: 1.2 / 1.75;
$theme-color: #11b8c1;
$item-radius: 35%;
$item-size: .8;
$item-offset: 20%;

$ani-time-unit: .45s;
$ani-dur: $ani-time-unit;
$ani-delay: $ani-time-unit;

$debug: false;

.fab {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $fab-size;
  height: $fab-size;
  color: $theme-color;
  transition: transform $ani-dur;

  .fab-checkbox:checked ~ & {
    transform: rotate(45deg);

    &::before {
      opacity: 0;
      transform: scale(0);
      transition-delay: ($ani-dur / 3), ($ani-delay * 2 / 3);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $item-radius / 2;
    background-color: currentColor;
    transition-property: transform, opacity;
    transition-duration: $ani-dur, ($ani-delay / 3);
    transition-delay: $ani-dur;
    transition-timing-function: linear;
    will-change: opacity, transform;
  }

  @if $debug {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: no-repeat url('ani-074.jpg') 50%;
      // background: no-repeat url(ani-037.jpg) 50% ;
      opacity: .1;
    }
  }
}

.fab__cross {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: $c-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    visibility: visible;
    border-radius: $fab-size;
    background-color: currentColor;
    transform: translate(-50%, -50%) scale(.35);
    transition: transform $ani-dur ($ani-delay * 2 / 3) cubic-bezier(.9, 0, .5, 1);
    will-change: transform;
  }

  &::before {
    width: 100%;
    height: $fab-cross-size * 1.75;
  }

  &::after {
    width: $fab-cross-size * 1.75;
    height: 100%;
  }

  // .fab &,
  // .fab:hover &,
  .fab-checkbox:checked ~ .fab & {
    visibility: hidden;

    &::before {
      transition-delay: $ani-delay * 0;
      transform: translate(-50%, -50%) scale(1.2, $cross-scale-ratio);
    }

    &::after {
      transition-delay: $ani-delay * 0;
      transform: translate(-50%, -50%) scale($cross-scale-ratio, 1.2);
    }
  }
}

.fab__item {
  position: relative;
  width: 50%;
  height: 50%;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: percentage($item-size);
    height: percentage($item-size);
    background-color: currentColor;
    border-radius: $item-radius;
    transform-origin: 100% 100%;
    transform: translate3d($item-radius * 2, $item-radius * 2, 0);
    transition: transform $ani-dur ($ani-delay * 2 / 3);
  }

  // &:nth-of-type(1) {}
  &:nth-of-type(2) { transform: rotate(90deg); }
  &:nth-of-type(3) { transform: rotate(270deg); }
  &:nth-of-type(4) { transform: rotate(180deg); }

  // .fab &::before,
  // .fab:hover &::before,
  .fab-checkbox:checked ~ .fab & {
    &::before {
      transition-timing-function: cubic-bezier(0.9, 0, .4, 1.4);
      transform: translate3d(- $item-offset, - $item-offset, 0);
    }

    &::after {
      opacity: 1;
      transition-delay: $ani-delay;
    }

    &:nth-of-type(1)::after { transform: rotate(-45deg); }
    &:nth-of-type(2)::after { transform: rotate(-135deg); }
    &:nth-of-type(3)::after { transform: rotate(45deg); }
    &:nth-of-type(4)::after { transform: rotate(135deg); }
  }

  &::after {
    content: attr(data-icon);
    position: absolute;
    right: $item-offset * $item-size;
    bottom: $item-offset * $item-size;
    width: percentage($item-size);
    height: percentage($item-size);
    line-height: $fab-size * $item-size / 2;
    text-align: center;
    font-size: $fab-size / 4;
    transform-origin: 50% 50%;
    border-radius: 50%;
    color: $c-white;
    opacity: 0;
    transition: $ani-dur cubic-bezier(0.9, 0, .4, 1.6) $ani-delay * 0;
    transition-property: opacity, transform;
  }

  &:nth-of-type(1)::after { transform: translate($fab-size * .2, $fab-size * .2) rotate(-45deg); }
  &:nth-of-type(2)::after { transform: translate($fab-size * .2, $fab-size * .2) rotate(-135deg); }
  &:nth-of-type(3)::after { transform: translate($fab-size * .2, $fab-size * .2) rotate(45deg); }
  &:nth-of-type(4)::after { transform: translate($fab-size * .2, $fab-size * .2) rotate(135deg); }
}

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  background-color: $c-white;
}

.intro {
  width: 90%;
  max-width: 36rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .5;

  a {
    color: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
