<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title swing pokeball
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro swing PokeBall

    .box
      .pokeball
      .pokeball-shadow

    blockquote.info
      | inspired from <a href="http://www.pokemongo.com/">Pokémon GO</a>
