<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-13: wave-rotate
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro ani-13: wave-rotate

    - var i = 12 * 12;

      .box
        - while(i--)
          .dot

    blockquote.info
      | inspired from #[a(href="https://www.pinterest.com/pin/478507529129274580/") ‪Principles of Two Dimensional Design‬] by Wucius Wong
