<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Minion Language Translator
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Minion Language Translator

    .box

    blockquote.info
      | inspired from: #[a(href="http://minionstranslator.com/") The Minions Language Translator Game]
