<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Johnny Depp Optical Illusion
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro Johnny Depp Optical Illusion

    .box

    blockquote.info
      | inspired from #[a(href="http://www.moillusions.com/johnny-depp-optical-illusion/") Johnny Depp Optical Illusion] by #[a(href="http://www.moillusions.com/author/james/") James Dean]
