<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Taiwan flag design in CSS
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Taiwan flag design in CSS
      //- small

    .box

    blockquote.info
      | original design: #[a(href="https://www.facebook.com/photo.php?fbid=1147137788629900") Taiwan flag design] by
      a(href="https://www.facebook.com/denis0426") 陳致豪
