<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title [illusion] Penrose hug
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro [illusion] Penrose hug

    .box

    blockquote.info
      | inspired from #[a(href="https://dribbble.com/shots/2105831-Penrose-hug") Penrose hug] by #[a(href="https://dribbble.com/fabiandenter") Fabian Denter]
