<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Codepen collection lookup
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Codepen collection lookup

    form.form
      label(for="js-cid") collection ID:
      input#js-cid(type="text", value="Hwfiu")
      input(type="submit")

    .box
      .wrap

    script#pen-tpl(type="x-tmpl-mustache")
      .Pen
        a.Pen__thumbnail(href="{{ link }}")
          img(src="{{ images.small }}")
        .Pen__info
          a.title(href="{{ link }}") {{ title }}
          a.Author(href="http://codepen.io/{{ user.username }}")
            img.Author__avatar(src="{{ user.avatar }}")
            .Author__name {{ user.nicename }}
          .Pen__stats
            .Pen__stats__view
              .fa.fa-eye
              | {{ views }}
            .Pen__stats__heart
              .fa.fa-heart
              | {{ loves }}
            .Pen__stats__comment
              .fa.fa-comment
              | {{ comments }}

    script(src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js")
    script(src="script.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    blockquote.info
      | codepen API source: #[a(href="http://cpv2api.com/") CodePen v2 API]
