<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Happy Pi Day Challenge
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro Happy Pi Day Challenge

    .box

    blockquote.info
      | Codepen Creative Challenge(#[a(href="https://twitter.com/cccpens") #ccc]): #[a(href="http://codepen.io/DonKarlssonSan/post/happy-pi-day-challenge") Happy Pi Day Challenge]
