<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Möbiusband in 3D CSS
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro Möbiusband in 3D CSS

    - var i = 9;

    .box
      - while(i--)
        .s


    //- blockquote.info
      | inspired from #[a(href="https://dribbble.com/shots/2105831-Penrose-hug") Penrose hug] by #[a(href="https://dribbble.com/fabiandenter") Fabian Denter]
