.box {
  flex: 1;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;

  @media (max-width: 30em) {
    flex-direction: column;
  }
}

.grid {
  display: inline-block;
  flex: 1;
  margin: 0 .5rem .5rem;
}

.translator {
  flex-grow: .5;

  @media (max-width: 30em) {
    transform: rotate(90deg);
  }
}

.block {
  display: block;
  width: 100%;
}

input {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: .25em;
  padding-right: .25em;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background: linear-gradient(#ffe, #fff 90%) no-repeat fixed;
  color: #222;
}

.intro {
  width: 90%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .5;

  a {
    color: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
