
.Pen {
  display: flex;
  align-items: flex-start;
  padding: .5em 1em;

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Pen__thumbnail {
  position: relative;
  width: 128px;
  max-width: 30vw;
  margin-right: .5em;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100% * 75 / 128;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }

  .shadow {
    width: auto;
    height: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity .2s;
  }

  &:hover .shadow {
    opacity: 1;
  }
}

.Pen__info {
  flex: 1;
}

.Author {
  display: flex;
  text-align-last: center;
  margin-bottom: .25em;
  opacity: .75;
}

.Author__avatar {
  width: 20px;
  height: 20px;
  margin-right: .25em;
}

.title {
  display: block;
  margin-bottom: .25em;
  font-weight: bold;
}

.Pen__stats {
  display: flex;
  flex-wrap: wrap;
  opacity: .5;
  font-family: sans-serif;
  font-size: .75em;

  .fa {
    padding: 0 .5em 0 1.5em;
    opacity: .5;
  }
}

.pagenation {
  display: inline-block;
  margin-bottom: .5em;
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.form {
  margin-bottom: 2em;
  text-align: center;
}

.box {
  flex: 1;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background: #333;
  color: #fff;
}

a {
  color: inherit;
}

.intro {
  width: 90%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
