$color--darker: #262626;
$color--lighter: #dfdfc4;

$ani-duration: 18s;
$box-size: 400px;
$circle-count: 20;


///
/// major style
///

.svg {
  position: relative;
  x: 0;
  y: 0;
  width: $box-size;
  height: $box-size;
  color: $color--lighter;
}

// 1.41421 is square root of 2
@keyframes ripple {
  0%   { r: 0;}
  100% { r: $box-size * .5 * 1.41421;}
}

circle {
  cx: $box-size / 2;
  cy: $box-size / 2;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  r: 0;
  animation: ripple $ani-duration cubic-bezier(0.25, 0.4, 0.6, 0.8) infinite;

  &:nth-of-type(2n+1) {
    color: $color--darker;
  }

  @for $i from 1 through $circle-count {
    &:nth-of-type(#{$i}) {
      animation-delay: -1 * $i * $ani-duration / $circle-count;
    }
  }
}

.box {
  position: relative;
  width: $box-size;
  height: $box-size;
  margin: 0 auto;
  background-image: linear-gradient(45deg, $color--lighter 50%, $color--darker 50%);

  &:hover  * {animation-play-state: paused; }
  &:active * {animation-play-state: running; }
}



///
/// reset style
///

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  text-align: center;
  background-color: #2b2e2d;
  color: #e4e3c8;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;

  a {
    color: inherit;
  }
}
