$circle-size: 3em;
$circle-gap: .125em;
$circle-color: #dbdbdb;


@keyframes rotate {
    0%   { transform: rotateZ( 45deg); }
    25%  { transform: rotateZ(135deg); }
    50%  { transform: rotateZ(225deg); }
    75%  { transform: rotateZ(315deg); }
    100% { transform: rotateZ(405deg); }
}

.circle {
    width: $circle-size;
    height: $circle-size;
    margin: $circle-gap;
    border: $circle-size*.5 solid $circle-color;
    float: left;
    border-radius: 50%;
    transform: rotateZ(45deg);
    animation: rotate 2s infinite ease-in-out;

    &:nth-of-type(4n+1) { border-right-color: transparent; animation-direction: reverse;}
    &:nth-of-type(4n+2) { border-bottom-color: transparent; }
    &:nth-of-type(4n+3) { border-top-color: transparent; }
    &:nth-of-type(4n+4) { border-left-color: transparent; animation-direction: reverse;}
}

.circles {
    float: left;
    width: $circle-size * 2 + $circle-gap * 4;
}

.box {
    width: $circle-size * 6 + $circle-gap * 12;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
}


///
/// reset style
///

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-top: 1px;
    text-align: center;
    background-color: #fff;
}

.intro {
    width: 80%;
    max-width: $circle-size * 8;
    padding-bottom: 1rem;
    margin: .5em auto 1em;
    text-transform: capitalize;
    border-bottom: 1px dashed #999;

    small {
        display: block;
        opacity: .5;
        font-style: italic;
        text-transform: none;
    }
}

.info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    color: #666;

    a {
        opacity: .5;
    }
}
