$line-height = 40px;
$cell-gap = 20px;
$bp = 660px;
$radius = ($cell-gap / $line-height) * 7.5%;

.brands {
  margin: auto;
  line-height: $line-height;
  font-family: sans-serif;

  @media (min-width: $bp) {
    width: 80%;
  }

  h1 {
    margin: 0;
    font-weight: normal;
  }
}

.brand {
  position: relative;
  margin-bottom: -1px;
  padding-top: $cell-gap;
  padding-bottom: $cell-gap;
  border: 1px solid #ddd;
  // overflow: hidden;

  &::after {
    content: "";
    display: table-cell;
    clear: both;
  }
}

.brand-header {
  text-align: left;
  padding-left: $cell-gap;

  @media (min-width: $bp) {
    width: 20%;
    float: left;
  }

  label {
    display: block;
    cursor: pointer;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
}

.brand-title {
  &::before {
    content: "";
    position: absolute;
    top: $line-height * .5 + $cell-gap;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #2196f3;
    box-shadow: inset 0 0 0 3px #fff, 0 0 1px #999;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s;
  }

  .brand-selector:checked + &::before {
    opacity: 1;
  }
}

.brand-colors {
  position: relative;
  border-collapse: separate;
  border-spacing: $cell-gap 0;

  @media (min-width: $bp) {
    display: table;
    float: left;
    width: 80%;
  }
}

.brand-color {
  text-align: center;
  height: $line-height;
  margin-bottom: $cell-gap;
  margin-left: $cell-gap;
  margin-right: $cell-gap;
  border-radius: $radius;
  color: #fff;
  cursor: pointer;

  @media (min-width: $bp) {
    display: table-cell;
    margin-bottom: 0;
  }

  &.lighter {
    color: #666;
  }

}

.brand-color__txt {
  position: absolute;
  left: $cell-gap;
  right: $cell-gap;
  width: 100%; // falback
  width: "calc(100% -  %s)" % ($cell-gap * 2) ;
  height: $line-height;
  text-transform: uppercase;
  color: inherit;
  border-radius: $radius;
  background-color: inherit;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .1s;

  .brand-color:hover & {
    opacity: 1;
    visibility: visible;
  }
}



///
/// reset style
///

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  text-align: center;

  a {
    color: inherit;
    opacity: .8;
  }
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  // text-transform: capitalize;
  border-bottom: 1px dashed #999;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
  }
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #333;
}
