// pow fn. source: https://unindented.org/articles/trigonometry-in-sass/
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

#js-diff {
  font-size: 2rem;
}

#counter {
  height: 1rem;
  margin-top: 1rem;
  font-family: monospace;
  font-size: 0;
  text-align: center;
}

#counter .digit {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1em;
  font-size: 2rem;
  line-height: 1em;

  #visible:checked ~ & {
    overflow: visible;
  }

  // Just a trick to size the digit container correctly
  &::before {
    content: '.';
    // We could also use opacity: 0; etc ...
    color: transparent;
  }

  &::after {
    /* Every number on its own line */
    content: '0 \A 1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9';
    position: absolute;
    top: 0;
    left: 0;
    animation: digit 0s steps(10) infinite paused;

    #pause:checked ~ & { animation-play-state: paused;}
    #play:checked ~ &  { animation-play-state: running;}
    #reset:checked ~ & { animation: none;}
  }

  // 10ms for the whole animation = 1ms per actual digit
  @for $i from 1 through 6 {
    &:nth-child(#{$i})::after {
      animation-duration: 10ms * pow(10, 6 - $i);
    }
  }
}

@keyframes digit {
  from { top: 0; }
  /* 10 * 100% up */
  to { top: -1000%; }
}

.divier {
  position: relative;
  display: block;
  max-width: 24rem;
  border: none;
  font-size: 1rem;
  opacity: .5;

  &::before {
    content: 'css';
    display: block;
  }
  
  &::after {
    content: 'js';
    display: block;
    border-top: 1px dotted;
  }
}

// We need a font in which every number has the same width
body {
  margin: 0;
  text-align: center;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;

  a {
    color: inherit;
  }
}
