$box-size = 25rem;
$unit-size = 2rem;

///
/// major style
///

.hexagon {
  position: relative;
  width: 2 * $unit-size * tan(60deg);
  height: 2 * $unit-size;
  margin: $unit-size auto;
  color: rgba(#f00, .5);
  background-color: currentColor;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
  }

  &::before { transform: rotate(60deg); }
  &::after { transform: rotate(-60deg); }

  &,
  &::before,
  &::after {
    border-radius: 50% / 50%;
  }
}




.box {
  position: relative;
  width: $unit-size * 8;
  // height: $unit-size * 8;
  margin: ($unit-size * 1) auto;
  overflow: hidden;

  &:hover  * {animation-play-state: paused; }
  &:active * {animation-play-state: running; }
}

.ctrl {
  max-width: 30rem;
  margin: auto;
  text-align: left;

  .table {
    width: 100%;
    table-layout: fixed;
    display: table;
  }

  .td {
    display: table-cell;
    vertical-align: top;
    margin: 2% 0%;
    background-color: rgba(#fff, .05);
    padding: 1% 3%;
  }

  h4 {
    margin: 1em 0;
  }

  label {
    display: block;
    margin-bottom: 1em;
    cursor: pointer;
  }

  .ib {
    display: inline-block;
    width: 3em;
  }

  input.block {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  input {
    cursor: pointer;
  }

  a {
    color: inherit;
  }

  style {
    display: block;
    padding: 1em;
    word-break: break-word;
    opacity: .5;

    &.update {
      animation: update 1s linear 1;
    }
  }
}


@keyframes update {
  0%   { background-color: rgba(#444,1);}
  100% { background-color: rgba(#000,0);}
}


///
/// reset style
///

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-top: 1px;
  text-align: center;
  background-color: #2b2e2d;
  color: #e4e3c8;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: capitalize;
  }
}
