$color-g1 = #666;
$color-g2 = #999;
$color-g3 = #ccc;
$ring-size = 60vmin;
$split-distance = 5vmin;

$halfpart {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  transition: all .75s linear;
}

.wrap {
  position: relative;
  height: 100vmin;
  overflow: hidden;
  // background: linear-gradient(to right, $color-g1 50%, $color-g3 50%);
}

.left {
  @extend $halfpart;
  left: 0;
  right: 50%;
  background-color: $color-g1;

  #split:checked ~ .wrap &,
  .wrap:active & {
    right: "calc(50% + %s)" % $split-distance;
  }
}

.right {
  @extend $halfpart;
  left: 50%;
  right: 0;
  background-color: $color-g3;
  cursor: move;

  #split:checked ~ .wrap &,
  .wrap:active & {
    left: "calc(50% + %s)" % $split-distance;
  }

  #shift:checked ~ .wrap &,
  &:hover {
    transform: translateY($ring-size/3);
  }
}

.ring {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: $ring-size;
  height: @width;
  border: ($ring-size/3) solid $color-g2;
  border-radius: 50%;
  transform: translateY(-50%);

  .left & {
    right: $ring-size * -.5;
  }

  .right & {
    left: $ring-size * -.5;
  }
}



///
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

label {
  display: block;
  margin-bottom: .3em;
  cursor: pointer;

  &::before {
    content: "v";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .3em;
    border: 1px dotted #999;
    text-align: center;
    line-height: 1;
    vertical-align: baseline;
    color: transparent;
  }

  #split:checked ~ .label &[for="split"],
  #shift:checked ~ .label &[for="shift"] {
    &::before {
      color: inherit;
    }
  }
}


.label {
  position: absolute;
  left: .5em;
  bottom: 0;
  z-index: 2;
  color: #ddd;
}




/// reset & common style

html,
body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.intro {
  margin: 0 10%;
  font-family: serif;
  color: #333;
  line-height: 1.5;

  @media (min-width: 760px) {
    position: absolute;
    top: 0;
    left: 2%;
    z-index: 1;
    max-width: 45%;
    margin: 0;
    color: #ddd;
  }

  h2 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #999;
    font-size: 4vmin;
    line-height: 1;
  }

  kbd {
    border: 1px dotted #999;
    padding: 1px 5px;
    background-color: rgba(#fff, .1);
  }
}

.intro__subtitle {
  display: block;
  text-indent: 15%;
  font-style: italic;
  opacity: .7;
}

#info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .8em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;

  a {
    color: inherit;
  }
}
