$steel = #717c80
$steel-dark = #383f42

$arrow-height = 40px
$arrow-width = 40px

$bgi = "https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=75&fm=jpg&s=127f3a3ccf4356b7f79594e05f6c840e"

$logo-type {
  letter-spacing: 1em
  font-family: "Montserrat", sans-serif
}

$top-bar-height = 60px

/////

#top-bar {
  position: fixed
  top: 0
  left: 0
  right 0
  z-index: 500
  height: $top-bar-height
  background-color: $steel-dark
}

#small-logo {
  @extend $logo-type;
  padding-left: 20px
  line-height: $top-bar-height
  color: #fff
}

#intro {
  position: relative
  z-index: 1
  height: 70vh
  margin-top: $top-bar-height
  background: #f0f0f0 url($bgi) fixed no-repeat 50%
  background-size: cover

  &::before,
  &::after {
    content: ""
    position: absolute
    bottom: 0
    width: 50%
    height: 0
    border-bottom: 50px solid #eee
  }

  &::before {
    left: 0
    border-right: 50px solid transparent
  }

  &::after {
    right: 0
    border-left: 50px solid transparent
  }
}

#name {
  @extend $logo-type;
  padding-top: 50px
  transform: scale(.7)

  font-size: 28px
  text-align: center
  color: transparent
  text-shadow: 0 0 20px $steel

  transition: all 1s .3s

  @media (max-width: 420px) {
    font-size: 20px
  }

  &.larger {
    transform: scale(1);
  }

  .char {
    visibility: hidden
    opacity: .3
    transition: all .5s

    &.visible {
      visibility: visible
      opacity: 1
      color: lighten($steel, 10%)
      text-shadow: none
    }

    &.darker {
      color: $steel-dark
      font-weight: 700
    }
  }
}

///

*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  margin: 0
}

section {
  height: 600px
  background-color: #eee
}
