$circle-size: 14.5rem;
$square-size: 18rem;
$dot-size:    5rem;

$colors: (
    hsla(283, 72%, 45%, 0.75),
    hsla(262, 72%, 46%, 0.75),
    hsla(227, 87%, 49%, 0.75),
    hsla(176, 65%, 41%, 0.75),
    hsla(27, 82%, 52%, 0.75),
    hsla(10, 83%, 53%, 0.75),
    hsla(346, 74%, 43%, 0.75),
    hsla(319, 62%, 52%, 0.75),
);

%center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin size($size) {
    width: $size;
    height: $size;
}

///
/// major style
///

.logo {
    @extend %center;
    @include size(20em);
}

.circle {
    @extend %center;
    @include size($circle-size);
    top: - $circle-size;
    border-radius: 50%;
    transform-origin: 50% 100%;
    background-color: currentColor;
    box-shadow:
        inset  -3px 1px  2px  -2px rgba(#fff, .5),
        inset -10px 3px 30px   0px rgba(#fff, .1),
        inset  20px 5px 30px -10px rgba(#000, .2),
               10px 6px 30px  -4px currentColor
        ;

    &::after {
        content: "";
        position: absolute;
        top: - $dot-size * .65;
        left: ($circle-size - $dot-size) * .5;
        @include size($dot-size);
        border-radius: 25%;
        transform: rotateZ(45deg);
        background-color: currentColor;
        box-shadow:
            inset  -1px  -1px  1px -2px rgba(#fff, .85),
            inset  -1px  -1px  1px -1px rgba(#fff, .5),
            inset   1px   1px  3px -1px rgba(#000, .5),
                    2px   2px  8px -2px rgba(#000, .3),
                    4px   4px 16px  0px currentColor;
    }

    &:nth-of-type(2n+1)::after {
        border-radius: 50%;
        top: - $dot-size * .6;
    }
}

@for $i from 1 through 8 {
    .circle:nth-of-type(n+#{$i}) {
        transform: rotateZ(-45deg * $i);

        &,
        &::after {
            color: nth($colors, $i);
        }
    }
}

.square {
    @extend %center;
    @include size($square-size);
    border-radius: 25%;

    &::before {
        @extend %center;
        content: "";
        border-radius: 25%;
        transform: rotateZ(45deg);
    }

    &,
    &::before {
        background-color: hsla(263, 81%, 13%, 0.65);
    }
}

.content {
    @extend %center;
    padding: 1.5rem 1.5rem;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #fff;

    small {
        display: block;
        margin-top: 1.5rem;
        font-size: 1.25rem;
    }

    strong {
        font-weight: 600;
    }

    svg {
        fill: currentColor;
        margin: 0 auto 1.25rem;
    }
}



///
/// reset style
///

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background-color: #fff;
    min-height: 100vh;
}

.info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    color: #666;

    a {
        opacity: .5;
    }
}
