<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title max CP by level Pokémons
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body
    include ./_body.jade

    style.pokeInitCP
    //- script(src="vue.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js")
    script(src="script.js")
