$c-white: #fff;
$c-black: #000;
$sprite-size: 65px;
$dev: true;

$pokeTypes: 'normal', 'fighting', 'flying', 'poison', 'ground', 'rock', 'bug', 'ghost', 'steel', 'fire', 'water', 'grass', 'electric', 'psychic', 'ice', 'dragon', 'dark', 'fairy';

// 455 x 1430 : 7x22 (65x65)
$sprite-src: 'https://rawgit.com/PokemonGoMap/PokemonGo-Map/develop/static/icons-large-sprite.png';

@if $dev {
  $sprite-src: 'icons-large-sprite.png';
}

.pokeMaxCP {
  max-width: 70rem;
  margin: auto;
}

.pokeMaxCP__ctrl {
  text-align: center;
}

.ctrlSort {
  margin-bottom: 2em;

  &::before {
    content: 'sort by';
    margin-right: .5em;
    font-style: italic;
    opacity: .5;
  }
}

.ctrlSort__btn {
  font-size: larger;

  &.is-active {
    background-color: rgba(#ff9, .5);

    &::after {
      content: attr(data-sort-dir);
    }
  }
}

.ctrlFilter--wrap {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  padding: 0 1em;
  justify-content: center;

  &::before {
    content: 'filter by';
    flex: 1 0 auto;
    font-style: italic;
    opacity: .5;
  }
}

.ctrlFilter {
  text-align: start;

  display: flex;
  flex-wrap: wrap;

  &::after {
    content: '';
  }
}

.ctrlFilter__label {
  position: relative;
  flex-basis: 5.5em;
  margin-left: 1.5em;
  margin-bottom: .5em;
  transform-origin: 0 0;
  cursor: pointer;
  color: rgba($c-black, .8);

  &::before {
    content: '◎';
    margin-left: .25em;
    margin-right: .25em;
    opacity: .5;
    font-size: smaller;
  }

  &:hover {
    color: lighten($c-black, 10%);
  }
}

.ctrlFilter__checkbox {
  //
}

%active-poke-filter {
  background-color: rgba($c-black, .1);

  &::before {
    content: '◉';
  }
}

%active-poke-info {
  display: inline-block;
}

@each $type in $pokeTypes {
  .ck-#{$type}:checked {
    & ~ .pokeMaxCP__ctrl .ctrlFilter__label[for="ck-#{$type}"] {
      @extend %active-poke-filter;
    }

    & ~ .pokeList {
      .poke[data-type*="#{$type}"] {
        @extend %active-poke-info;
      }
    }
  }
}

.pokeMaxCP__masterLv {
  display: block;
  min-width: 80%;
  margin: 2em auto;
}

.pokeList {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.poke {
  position: relative;
  // display: inline-block;
  display: none;
  width: $sprite-size * 2;
  margin: 1em;
  counter-increment: pokeId;

  &::before {
    content: counter(pokeId);
    display: block;
    width: $sprite-size;
    height: $sprite-size;
    margin: auto;
    overflow: hidden;
    background: url($sprite-src)  no-repeat;
    background-position: inherit;
    text-align: right;
    color: rgba($c-black, .3);
    color: transparent;
    text-shadow: 0 0 2px rgba($c-black, .3);
    font: 900 2.5em monospace;
    opacity: .5;
    filter: blur(2px);
    letter-spacing: -.025em;
    will-change: filter, opacity;
    transition: opacity .3s;
  }

  &:hover::before {
    filter: unset;
    opacity: .7;
  }

  // hack for align grids to left
  &:empty {
    display: inline-block;
    height: 0;
    margin-top: unset;
    margin-bottom: unset;
    visibility: hidden;
    overflow: hidden;
  }
}

.poke__name {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 .2em;
  box-shadow: inset 0 0 0 1px rgba($c-black, .3);
  background-color: rgba($c-white, .8);
  opacity: .5;
  font-size: smaller;
  will-change: opacity;
  transition: opacity .3s;

  .poke:hover & {
    opacity: 1;
  }
}

.poke__maxcp {
  position: absolute;
  top: 0;
  left: 0;
  font: 100 2em monospace;
  letter-spacing: -.03em;
  will-change: opacity;
  transition: all .3s;

  .poke:hover & {
    opacity: .7;
    text-shadow: 0 0 .25em rgba(#ff0, .5);
  }
}

.box {
  flex: 1;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  background-color: $c-white;
}

.intro {
  width: 90%;
  max-width: 36rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .5;

  a {
    color: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
