// #fafafa
// #d8cbc2
// #ff8476
$border-radius: .2em;

.dropdown {
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  border-radius: $border-radius;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: .3em;
    background-color: #d8cbc2;
  }

  &::before {
    top: 0;
    border-radius: $border-radius $border-radius 0 0;
  }

  &::after {
    bottom: 0;
    border-radius: 0 0 $border-radius $border-radius;
  }

  .svg-icon {
    display: block;
    width: 3.5em;
    height: 3.5em;
    padding: 1.2em;
    fill: #d8cbc2;
  }
}

.dropdown__reset {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  #dropdown-1:checked ~ & {
    display: block;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAV1BMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABcPecEAAAAHHRSTlMADhMVFx0tMjpDSEmetba/xcvS09TZ2+rr8PT3WJPOfQAAAHZJREFUeAFVjdsSwiAMBY/2ArVSRWy5cP7/O5VCZsq+kN3JBOD2tA+czN/3BNwtmZfTPbmPMPyTdHVyg2Mhquo80IZQn7zWVSHJsUbUwLUEhT74uXMp4lLEfZDi2qAiCxZGVnUq0wvDR44tmdwnYDCufbce24gfVTERkJvGGyEAAAAASUVORK5CYII=), pointer;
  }
}

.dropdown__lists {
  $gap: 1em;

  position: relative;
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: max-height .3s, opacity .6s, transform .5s;
  transform: translateY(-20%);

  #dropdown-1:checked ~ & {
    max-height: 20em;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &::before {
    content: '';
    display: block;
    height: $gap;
  }

  &::after {
    content: '';
    position: absolute;
    top: $gap;
    left: 50%;
    z-index: -1;
    width: .5em;
    height: .5em;
    border-top-left-radius: $border-radius * .5;
    background-color: #fafafa;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.dropdown__list {
  &:first-child {
    overflow: hidden;
    border-radius: $border-radius $border-radius 0 0;
  }
}

.dropdown__item {
  position: relative;
  display: block;
  background-color: #fafafa;
  cursor: pointer;

  &:hover {
    background-color: darken(#fafafa,2%);
  }

  .dropdown > & {
    border-radius: $border-radius;
  }

  .has-noti &::before {
    content: '';
    position: absolute;
    top: 30%;
    right: 25%;
    width: .6em;
    height: .6em;
    border-radius: 50%;
    color: #ff8476;
    background-color: currentColor;
    box-shadow: 0 0 3px;

    #dropdown-1:checked ~ .dropdown__lists & {
      animation: beating .85s infinite;
    }
  }
}


@keyframes beating {
  0%, 20%, 40%, 100% { transform: scale(1); }
  10%, 30%{ transform: scale(1.15); }
}



///
.nav {
  display: inline-block;
}

.box {
}


///
/// reset style
///

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #fff;
  color: #333;
}

.intro {
  width: 80%;
  max-width: 30rem;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;

  a {
    color: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
