title [CSS] Dock menu
h1.intro [CSS] Dock menu

.box
  .Dock
    each $, i in Array(10)
      .duck__item(class=(i === 3 ? 'hover' : ''))

//- blockquote.info
  | inspired from 
  a(href="https://beesandbombs.tumblr.com/post/159994014939/cube-buddies") Cube Buddies
