<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body
    title Pure CSS Miffy
    //- h1.intro Pure CSS Miffy

    .box
      .miffy
        .face
          .eyes
            .tears
          .ears
          .mouth
      h2 In memory of Dick Bruna

    //- blockquote.info
      | inspired from
      br
      a(href="https://www.behance.net/tomanders") Tom Anders Watkins
      | 's 
      a(href="https://www.behance.net/gallery/16129389/Animal-Logos-Vol-1") Animal Logos Vol 1
