<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Scrollbar Marker
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Scrollbar Marker
      small use `linear-gradient` in scrollbar

    .box
      form.form
        input(type="text" value="rem")
        input(type="submit" value="search")

      article.article
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, sunt aut rerum quos. Vitae exercitationem nobis iste, et, distinctio labore in amet cupiditate fugiat, animi excepturi. Sit dolore animi porro, repudiandae dignissimos velit dolores quae aperiam! Dolorum error asperiores aut voluptatibus aspernatur nemo debitis. Officia rerum, totam laudantium deserunt, harum doloremque commodi eum ut, dolores suscipit ab dolor? Voluptate alias laborum, cum laudantium molestiae repellendus molestias expedita quod est illum minima doloremque aspernatur corporis sunt impedit animi accusamus! Perferendis fuga, itaque quo explicabo accusantium molestias tenetur, doloremque soluta aspernatur dolorum iure sunt placeat veritatis rerum id et? Quod dignissimos nostrum voluptate, explicabo iste earum ea expedita nobis
        p Veniam iusto quos mollitia laudantium dolores eligendi. Quibusdam asperiores laudantium veniam quisquam temporibus ex neque, quod officiis molestias blanditiis dignissimos, ab repellat quo architecto non voluptatem, nulla vel officia eos ratione. Ea placeat nesciunt consequuntur voluptatem beatae assumenda similique eos quibusdam, velit recusandae pariatur laborum mollitia error debitis cum nisi exercitationem sit possimus saepe ad inventore quo deserunt ipsa voluptatum molestiae. Laboriosam architecto, maiores reiciendis voluptatibus. Eum pariatur temporibus reiciendis soluta, consequatur repellendus laudantium, ab sint adipisci, provident, atque itaque ullam autem magni nulla mollitia. Debitis voluptatum minus quos minima ex voluptatem, distinctio aut impedit, in vitae hic ipsa, quae corporis earum accusantium nihil sed aperiam iure expedita quaerat numquam provident facilis quis odit? Perspiciatis reprehenderit aliquam, repellat obcaecati dolorem ea?

        p Debitis aspernatur earum dolor aut? Voluptas, accusamus odit soluta dolores dolorem commodi neque impedit totam nesciunt officiis quia molestias rem maxime suscipit architecto similique ratione ducimus consectetur illo magnam, ipsam! Omnis, ut similique obcaecati et mollitia, natus quod vel facere repellendus cum autem deleniti, beatae nulla voluptas? Illo beatae nulla dicta sunt odit ratione quam molestias. Iure sit quae, dolore ratione, molestias dignissimos corrupti voluptates ipsum, perferendis debitis eveniet tempore ab eaque.

    blockquote.info
      | inspired from Google Chrome searchbar<br>
      | used highlighter library: #[a(href="https://markjs.io/") mark.js]

    script(src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.2/mark.js")
    script(src="js.js")
