<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title alonelysquare-2
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/alonelysquare-2.css")

  body
    input#switcher(type="checkbox")

    h1.intro aLonelySquare-2
      small
        label(for="switcher") start animation

    .box
      .lonelysquare

    blockquote.info
      | contribution for <a href="http://alonelysquare.com/">http://alonelysquare.com/</a><br>
      | image from <a href="https://youtu.be/UW5bcsax78I">https://youtu.be/UW5bcsax78I</a>
