<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title alonelysquare-1
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/alonelysquare-1.css")

  body
    input#switcher(type="checkbox", checked)

    h1.intro aLonelySquare-1
      small
        label(for="switcher") start animation

    .box
      .lonelysquare

    blockquote.info
      | contribution for <a href="http://alonelysquare.com/">http://alonelysquare.com/</a>
