<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title alonelysquare-3
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/alonelysquare-3.css")

  body
    input#switcher(type="checkbox", checked)

    h1.intro aLonelySquare-3: Centrifuge
      small
        label(for="switcher") start animation

    .box
      .lonelysquare
        .ball.ball--ff0
        .ball.ball--f0f
        .ball.ball--0ff

    blockquote.info
      | contribution for <a href="http://alonelysquare.com/">http://alonelysquare.com/</a><br>
      | inspired from <a href="http://codepen.io/bennettfeely/details/KDkCj/">http://codepen.io/bennettfeely/details/KDkCj/</a>
