<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-2
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-2.css")

  body
    h1.intro animation practice - 2
      small async rotate matrix

    - var i = 25
    .box
      .box--inner
        - while(i--)
          .unit

    blockquote.info
      | inspired from <a href="http://gif.flrn.nl/post/116319247625">http://gif.flrn.nl/post/116319247625</a>
