<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-10
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-10.css")

  body
    h1.intro animation practice - 10
      small hexagon rotate async

    .box
      - var i = 20
      - while(i--)
        .unit

    blockquote.info
      | inspired from <a href="http://gif.flrn.nl/post/109913090997">http://gif.flrn.nl/post/109913090997</a>
