<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-11
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-11.css")

  body
    h1.intro animation practice - 11
      small async eclipse

    .box
      - var i = 25;
      - while(i--)
        .circle
          .plane
          .plane

    blockquote.info
      | inspired from <a href="http://gif.flrn.nl/post/111785871981">http://gif.flrn.nl/post/111785871981</a>
