<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-9
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-9.css")

  body
    h1.intro animation practice - 9
      small yin-yang

    .box
      .yin-yang
        .circle.yin
        .circle.yang

    blockquote.info
      | inspired from <a href="http://beesandbombs.tumblr.com/post/117092276494/yin-yangs">http://beesandbombs.tumblr.com/post/117092276494/yin-yangs</a>
