<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-5
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-5.css")

  body
    h1.intro animation practice - 5
      small intersecting circles

    - var i = 4
    .box
      .box--inner
        - while(i--)
          .circle

    blockquote.info
      | inspired from <a href="http://gif.flrn.nl/post/110281642914">http://gif.flrn.nl/post/110281642914</a>
