<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-8
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/ani-8.css")

  body
    h1.intro animation practice - 8
      small ripple effect

    .box
      svg.svg(version="1.1")
        - var i = 20
        - while(i--)
          circle

    blockquote.info
      | inspired from <a href="http://gif.flrn.nl/post/105482225994">http://gif.flrn.nl/post/105482225994</a>
