<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ccc-RetroTilesWeekend
    meta(name="viewport", content="width=device-width, initial-scale=.75, user-scalable=1")
    link(rel="stylesheet", href="../css/ccc-RetroTilesWeekend.css")

  body
    .body

      h1.intro ccc-RetroTilesWeekend - 1
        small arrow left or arrow right

      main.box

      blockquote.info
        | for CCC(Codepen Creative Challenge): 
        a(href="http://codepen.io/tmrDevelops/blog/a-blast-from-the-past") Retro Tiles Weekend
