<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title illusion: A bulge
    link(rel="stylesheet", href="../css/illusion-bulge.css")

  body
    h1.intro [illusion] a bulge
      small The floor appears to bulge out, <br>though this image consists of only squares.

    .box
      - var i = 15 * 15;
      - while(i--)
        .unit

    blockquote.info
      | inspired from <a href="http://www.ritsumei.ac.jp/~akitaoka/index-e.html">Akiyoshi's illusion pages</a>

