<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title pixel art
  link(rel="stylesheet", href="../css/pixel.css")
body

  ul.pixel-art
    li.pixel-art--rplus

  blockquote.info
    | <a href="http://unakravets.com/about.html">Read the blog post!</a> <small>for details</small>
    br
    city by <a href="http://unakravets.com/about.html"> Una Kravets </a>
