<!DOCTYPE html>

- var rs = function(len, float, space) { // randomString
-   var s = '';
-   float = float ? ~~(Math.random() * float * (Math.random() > .5 ? 1 : -1) ) : 0;
-   len = (len - float) || ~~(Math.random() * 20) - float;
-   while (len--) {
-     s += String.fromCharCode(~~(Math.random() * 26 + 97));
-     if (space !== 'nospace' && len > 1 && Math.random() > .85) {
-       s += ' ';
-       len--;
-     }
-   }
-   return s;
- };

html(lang="en")
  head
    meta(charset="UTF-8")
    title ui-3d-waggle
    meta(name="viewport", content="width=device-width, initial-scale=.75, user-scalable=1")
    link(rel="stylesheet", href="../css/ui-3d-waggle.css")
    //- script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="../../bower_components/jquery/dist/jquery.js")
    //- script(src="../js/ui-3d-waggle.min.js")
    script(src="../../app/js/ui-3d-waggle.src.js")

  body
    .body

      h1.intro 3D waggle @ dragging
        //- small touch, and drag down

      - var i = 3;

      .mobile

        main.articles
          - while(i--)
            article.article
              .article-card
                .card
                  .card__thumb(style="background-image: url(../../bower_components/0#{i}.jpg)")
                  .card__info
                    h3.card__info__title= rs(10, 3)
                    p.card__info__desc= rs(100, 50)



      blockquote.info
        | inspired from 
        a(href="https://dribbble.com/shots/1964052-3D-Waggle") 3D Waggle 
        | by 
        a(href="https://dribbble.com/kartashov") Anton Kartashov
