<!DOCTYPE html>

- var rs = function(len, float, space) { // randomString
-   var s = '';
-   float = float ? ~~(Math.random() * float * (Math.random() > .5 ? 1 : -1) ) : 0;
-   len = (len - float) || ~~(Math.random() * 20) - float;
-   while (len--) {
-     s += String.fromCharCode(~~(Math.random() * 26 + 97));
-     if (space !== 'nospace' && len > 1 && Math.random() > .85) {
-       s += ' ';
-       len--;
-     }
-   }
-   return s;
- };

html(lang="en")
  head
    meta(charset="UTF-8")
    title ui-swiching-checkbox
    meta(name="viewport", content="width=device-width, initial-scale=.75, user-scalable=1")
    link(rel="stylesheet", href="../css/ui-swiching-checkbox.css")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="../js/ui-swiching-checkbox.min.js")

  body
    .inner

      h1.intro Checkbox switching done efficient
        small touch, and drag down

      - var i = 7;
      .box
        header.acc-info
          img.acc-info__avatar(src="http://images.weserv.nl/?url=placekitten.com/g/50/50", alt="", width="50", height="50")
          h2.acc-info__mail(data-company="google")= rs(16, 6, 'nospace') + '@gmail.com'

        ul.items
          - while(i--)
            li.item
              input.item-input(type="checkbox", id="item-input-#{i}")
              label.item-label(for="item-input-#{i}")
                .item__info
                  h3.item__info__title(data-state--on="Syncing...", data-state--off="Sync is OFF")= rs(30)
                .item__action
                  .item__checkbox

      blockquote.info
        | inspired from 
        a(href="https://dribbble.com/shots/2147279-Checkbox-switching-done-efficient") Checkbox switching done efficient 
        | by 
        a(href="https://dribbble.com/MiraVitula") Miroslav Vitula
