<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title weekend-holyspacecow
    link(rel="stylesheet", href="../css/weekend-holyspacecow.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
    script(src="https://leaverou.github.io/conic-gradient/conic-gradient.js")

  body
    h1.intro [weekend challenge] holyspacecow
      small hover to see details

    .box
      .box--inner

    blockquote.info
      | inspired from <a href="http://codepen.io/enxaneta">Gabi</a>'s pen:<br><a href="http://codepen.io/enxaneta/details/BNwqYL/">http://codepen.io/enxaneta/details/BNwqYL/</a>
