<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title White's illusion
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="../css/white's-illusion.css")

  body
    h1.intro White's illusion
      small ~ illusion of brightness

    input#reset(type="checkbox")

    .box
      .stripe-box--black
      .stripe-box--gray

    .ctrl
      label(for="reset") retract

    blockquote.info
      | inspired from <a href="http://web.mit.edu/persci/gaz/gaz-teaching/flash/white-movie.swf">psyche.mit.edu</a><br>
      | ref: <a href="http://en.wikipedia.org/wiki/White's_illusion">White's illusion</a>
