<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ani-12: wave-scale
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro ani-12: wave-scale

    - var i = 9 * 9;

      .box
        - while(i--)
          .dot

    blockquote.info
      | inspired from #[a(href="https://www.facebook.com/groups/inkscape.org/permalink/10153775463656578/") ‪#‎inkscapechallenge53‬] by #[a(href="https://www.facebook.com/zerocinquanta") Marco Riva]
