<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title stripe landing page
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    header.header

      .circle.c1
      .circle.c2

      h1.logo
        .arrow

      h2.slogan stripe landing page.
        span.ps  Lorem ipsum dolor sit amet, consectetur adipisicing.

      .btns
        button.btn.btn--primary Lorem ipsum
        button.btn dolor sit amet

      .hill

    blockquote.info
      | forked from #[a(href="https://stripe.com/atlas") Introducing Stripe Atlas]
