<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title itinerary
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro itinerary

    blockquote.info
      | inspired from #[a(href="https://www.facebook.com/groups/895693593842577/permalink/944042455674357/?comment_id=953450544733548") ‪‎day079‬ ‪‎Itinerary‬‬] by #[a(href="https://fb.me/wesleyweazin") Wesley Hwang]
