<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title CSS cat loader
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro CSS cat loader

    .box
      .cat-box
        .cat
          .helf-box.helf-box--ass
            .helf-box.clip
              .cat__body

            .cat__ass
              .cat__body--fake
              .cat__foots
              .cat__tail

          .helf-box.helf-box--head
            .cat__head
              .cat__face
                .cat__ears
                .cat__eyes
                .cat__mouth
                .cat__mustache
              .cat__foots

            .helf-box.clip
              .cat__body

    blockquote.info
      | inspired from <a href="https://dribbble.com/domaso">domaso</a>'s dribbble: <a href="https://dribbble.com/shots/3197970-Loading-cat">Loading cat</a>
