$c-white: #fff;
$c-black: #000;

.grid {
  display: grid;
  width: 30vmin;
  height: 50vmin;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: .25em;
  padding: .25em;
  background-color: #fff;
  color: $c-black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: monospace;
  font-size: 2.5vmin;

  // input area
  &.cell-0 {
    text-align: right;
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
  }

  // =
  &.cell-25 {
    grid-column: -2 / span 1;
    grid-row: -3 / span 2;
  }

  // 0
  &.cell-26 {
    grid-column: 1 / span 2;
    grid-row: -2 / span 1;
  }
}

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  background: linear-gradient(#aaa 60%, #fff);
}

.intro {
  width: 90%;
  max-width: 50rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba($c-black, .5);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .75;

  a {
    color: inherit;
  }
}
