<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title random avatar animation
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")

  body

    h1.intro random avatar animation
      small auto-change per second

    - var i = 30;

    .box
      - while(i--)
        .avatar
          .avatar--new

    blockquote.info
      | ref: #[a(href="http://kkboxcorp.com/#scrollNav-4") KKBOX corp] people section

    script(src="script.js")
