title [CSS Animation] Slidin squares loader
h1.intro [CSS Animation] Slidin squares loader

.box
  each $ in Array(5)
    .cube

blockquote.info
  | inspired from 
  a(href="https://dribbble.com/colder") Vitaly Silkin
  | 's dribbble: 
  a(href="https://dribbble.com/shots/2800819-Slidin-squares-loader") Slidin squares loader
