$c-white: #fff;
$c-black: #000;

$count: 18;
$img-width: 150px;
$zoom-duration: .3s;

.imgBox {
  position: fixed;
  top: 100%;
  margin: 0;
  transform: translateY(calc(-100vh - 100%));
  animation: rainy 2s linear infinite;

  @for $i from 1 through $count {
    &:nth-of-type(#{$i}) {
      left: calc(#{random(100) / 100} * (100vw - #{$img-width}));
      animation-delay: 2s * random(100) / 100;
      animation-duration: 4s + 4s * random(100) / 100;
    }
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    right: -50%;
    bottom: 100%;
    transform: translateX(-50%) translateY(-.5em);
    width: fit-content;
    padding: .25em 1em;
    color: $c-white;
    background-color: $c-black;
    border-radius: 1em;
    text-align: center;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
  }

  &:hover {
    z-index: 1;
    animation-play-state: paused;

    &::after {
      opacity: 1;
      transition-delay: $zoom-duration;
    }

    .img {
      transform: none;
    }
  }
}

.img {
  display: block;
  transform: scale(.5);
  transition: transform $zoom-duration;
  box-shadow: 0 0 1px;
}

@keyframes rainy {
  to {
    transform: none;
  }
}

.box {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  background-image: linear-gradient(lighten(#ffc, 5%), transparent);
}

.intro {
  width: 90%;
  max-width: 50rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba($c-black, .5);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .75;

  a {
    color: inherit;
  }
}
