<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title [CSS] Rotation & Revolution of Dots
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro [CSS] Rotation & Revolution of Dots

    .box
      .ring
        - each $ in Array(12)
          .dot--wrapper
            .dot

    blockquote.info
      | :hover to stop,
      | :active to run animation
      br
      | inspired from Bees &amp; Bombs — 
      a(href="https://beesandbombs.tumblr.com/post/150775393989/follow-one") post
