<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Drops On A Pond 🌧
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Drops On A Pond 🌧

    - var i = 14;

    .box
      .ring
        - while (i--)
          .raingdrops
            .ripple

    blockquote.info
      | inspired from beesandbombs: #[a(href="https://beesandbombs.tumblr.com/image/145982749309") Drops On A Pond 🌧]
