<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title [re-style] duo strips
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro [re-style] duo strips

    .demo
      .box.rb
        .box.lb
          .box.t.tri
            .dir
            .dir

    blockquote.info
      | forked from #[a(href="http://codepen.io/thebabydino/pen/qbJrBb") duo strips] by #[a(href="http://codepen.io/thebabydino") Ana Tudor]
