<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title 200m, there is Pokémon
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro 200m, there is Pokémon

    div.map-wrapper
      #map

    script(src="js.js")

    .info
      h3 How to use:
      p Dragging (A) , (B) to latest see position,<br>the two crossed points are the locations your target may appear.

      p build with 💙 and <a href="https://developers.google.com/maps/documentation/javascript/">Google Map API</a>
