.map-wrapper {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 40em;
  margin: 0 auto;
}

.intro {
  width: 90%;
  max-width: 40rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-family: serif;
  opacity: .6;
}
