<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Walking Green Man
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    h1.intro Walking Green Man
      small `:hover` &amp; `:active` for quicker

    .box
      .green-man

    blockquote.info
      | fork from #[a(href="http://codepen.io/jsgao0") Gao Jia Siang]'s pen #[a(href="http://codepen.io/jsgao0/pen/AXgwZN") Green Man Is Walking]
