<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body
    title [CSS image] hummingbird
    h1.intro [CSS image] hummingbird

    .box
      .hummingbird
        .c-main
          .c-beak
          .c-head
          .c-body
        .c-wing

    blockquote.info
      | inspired from
      br
      a(href="https://www.behance.net/tomanders") Tom Anders Watkins
      | 's 
      a(href="https://www.behance.net/gallery/16129389/Animal-Logos-Vol-1") Animal Logos Vol 1
