<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon List UI</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=.5">
</head>
<body>
  <h1>Pokemon List UI</h1>

  <template id="cp-bar-tpl">
    <div class="pm-cp-bar">
      <div data-title="Lv40, Best(All 15) CP"></div>
      <div data-title="now Max Lv, Best(All 15) CP"></div>
      <div data-title="Lv40, Max CP"></div>
      <div data-title="now Max Lv, CP"></div>
      <div data-title="now Lv, CP"></div>
    </div>
  </template>

  <div id="pm-board" class="pm-board" :class="{ 'is-loaded': loaded }">
    <div class="loader"></div>
    <dl class="Specie" v-for="specie in pmBySpecies">
      <template v-for="pm in specie">
        <dt class="SpecieCard">
          <div class="pm-avatar" :style="{
            '--row-start': pm.rowStart,
            '--col-start': pm.colStart
          }"></div>
          <div class="pm-id">{{ pm.pokemon_id }}</div>
          <div class="pm-baseStat">
            A:{{ pm.atk }}<br>
            D:{{ pm.def }}<br>
            S:{{ pm.stm }}
          </div>
          <div class="pm-name" :data-name=`${pm.name_zh_tw}`>
            {{ pm.name_en }}
          </div>
          <div class="pm-type"></div>
        </dt>
        <dd class="PM" :class="{ 'is-recent': pm.recent }"
          :style="{
            '--max-cp': pm.cp40_all15,
            '--pm-cp40_all15': pm.cp40_all15,
            '--pm-cp40': pm.cp40,
            '--pm-cpLvBest': pm.cpLvBest,
            '--pm-cpLvMax': pm.cpLvMax,
            '--pm-cp': pm.cp
          }"
        >
          <div class="pm-data">
            <div data-prefix="CP">{{ pm.cp }}</div>
            <div data-prefix="Lv">{{ pm.lv }}</div>
          </div>
          <cp-bar></cp-bar>
          <div class="pm-ads" :data-ivpr="pm.iv">{{ pm.iv_attack }}, {{ pm.iv_defence }}, {{ pm.iv_stamina }}</div>
          <div class="pm-nickname">
            {{ pm.nickname || pm.name_en }}
            <div class="pm-time">{{ pm.time }}</div>

            <div class="pm-info">
              <div>{{ (15 - pm.iv_attack).toString(16).toUpperCase() }}{{ (15 - pm.iv_defence).toString(16).toUpperCase() }}{{ (15 - pm.iv_stamina).toString(16).toUpperCase() }} L{{ pm.lv }}</div>
              <div :title="pm.move1">M1: {{ pm.move1_zh_tw }}</div>
              <div :title="pm.move2">M2: {{ pm.move2_zh_tw }}</div>
              <div>W: {{ pm.weight }}</div>
              <div>H: {{ pm.height }}</div>
            </div>
          </div>
        </dd>
      </template>
    </dl>

    <div class="ctrl">
      <div>
        <label>
          <input type="radio" value="cp" v-model="sortBy">
          CP
        </label>
        <label>
          <input type="radio" value="cp40" v-model="sortBy">
          IV
        </label>
        <label>
          <input type="radio" value="catch_date" v-model="sortBy">
          TIME
        </label>
        <label>
          <input type="radio" value="lv" v-model="sortBy">
          LV
        </label>
      </div>
      <div>
        <label>
          <input type="radio" value="-1" v-model="sortDir">
          ▼ DESC
        </label>
        <label>
          <input type="radio" value="1" v-model="sortDir">
          ▲ ASC
        </label>
        <hr>
        <label>
          <input type="number" value="0" min="0" step=".2" v-model="weeks">
          weeks
          <br>
          <small>after {{ relatedTime }}</small>
        </label>
      </div>
    </div>
  </div>

  <footer>
    data from <a href="https://pokeiv.net/">https://pokeiv.net/</a>
  </footer>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->
  <script src="vue.js"></script>
  <script src="script.js"></script>
</body>
</html>
