<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body
    title CSS Loader prototype

    h1.intro CSS Loader prototype

    .box
      .loader-box
        .loader-box--helf.loader-box--backend
          .loader
            .tail

        .loader-box--helf.loader-box--frontend
          .loader
            .head
