textarea {
  display: block;
  width: 100%;
  margin-top: 3rem;
}

dl {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

dt label {
  font-weight: 900;
}

.text-center {text-align: center; }
.text-right {text-align: right; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-top: 1px;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(#cc0,.5), #fff 10%);
  color: #333;
}

.box {
  max-width: 30rem;
  margin: 0 auto;
}

.intro {
  width: 80%;
  padding-bottom: 1rem;
  margin: .5em auto 1em;
  text-transform: capitalize;
  border-bottom: 1px dashed #999;
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  color: #999;

  a {
    color: inherit;
  }
}
