.map-box {
  position: relative;
  text-align: center;
}

.map {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background-position: 50%;
  background-size: 100%;
  box-shadow: inset -1.5em -1.5em rgba(#000, .5);
}

.point {
  position: absolute;
  z-index: 2;
  width: percentage(374 / 600); // magic number for 200m in real when the Google Map zoom level is 17
  border-radius: 50%;
  background-color: rgba(#000, .1);
  box-shadow: inset 0 0 0 2px rgba(#000, .2);
  background-image:
    linear-gradient(transparent 50%, rgba(#000, .1), transparent 51%),
    linear-gradient(90deg, transparent 50%, rgba(#000, .1), transparent 51%);
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &::after {
    content: attr(data-char);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    text-shadow: 1px 1px 1px #fff, 1px 1px 5px;
    transform: translate(-50%, -50%);
  }
}

.point--b {
  #point-b:checked ~ .map & {
    z-index: 1;
  }
}

.axis {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  margin: 1em 0 .5em;
  margin: 0;
  font-size: 2em;
  line-height: 1;
}

.axis-y {
  transform-origin: 100% 0%;
  transform: rotate(90deg) translateX(.5em);
  margin: 0;
}

#point-b:checked ~ .axis-a,
.axis-b {
  display: none;
}

#point-b:checked ~ .axis-b {
  display: block;
}

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 40em;
  margin: 0 auto;
}

.intro {
  width: 90%;
  max-width: 40rem;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  padding-top: .5em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  border-bottom: 1px dashed rgba(#000, .3);
  text-align: center;

  small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
  }
}

.info {
  margin: 0;
  padding: 1em;
  font-size: .9em;
  font-family: serif;
  opacity: .6;
}
